<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="defaultconnstr"
         connectionString="Server=(localdb)\MSSqlLocalDb;
                            Integrated Security=True;
                            Initial Catalog=ecommercedb;"/>
  </connectionStrings>
</configuration>