<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="defaultconnstr" 
         connectionString="Server=(localdb)\\MSSqlLocalDb;
                            Integrated Security=True;
                            Initial Catalog=ecommercedb;"/>
  </connectionStrings>
</configuration>